* {
    margin: auto;
    padding: 0%;
    text-decoration: none;
}

.test {
    top: 0%;
    left: 0%;
    display: block;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 12.5px;
    height: 100px;
    background-color:white;
    margin-right: 560px;
    padding: 0px 10px;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    width: 250px;
    border: 1px black;
border-width: 1px;
border-color: black;
border-style: solid;
border-top: 0;
border-left: 0;
border-bottom: 0;
transition: all 0.5s;
position: fixed;
    
}
.logonav {
    display: flex;
    height: 20px;
    width: 100px;
}
.logoyoutb {
    display: flex;
    height: 20px;
    width: 100px;
    margin-top: 10px;
    
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    
    transition: 0.2s;
    color: grey;
}

 input .btn2 {
    border: 1px black;
    border-style: solid;
    border-width: 2px;
    border-top: 0;
}

.navbar .menu-hamburger {
    display: flex;
    width: 30px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
   top:10px;

}
.micro {
    height: 20px;
    width: 20px;
    margin-top: 18px;
    margin-left: 10px;
}
.caméra {
    height: 20px;
    width: 20px;
    margin-top: 23px;
    margin-left:400px;
}
.cloche {
    height: 20px;
    width: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.yt {
    height: 20px;
    width: 100px;
    margin-top: 23px;
    
}
.logoyt {
    display: none;
}


.navbar {
    height: 20px;
    width: 100%;
    border: 1px black;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
}


.secondlogo {
    display: none;
}
.icone1 {
    display: none;
}
.icone2 {
    display: none;
}

.logoytb {
    display: none;
    height: 20px;
    width: 130px;
    margin-left: 50px;
}
.logoyoutube {
    display: none;
}

.test.mobile-menu {
    margin-left: 0%;
}


.secondblock  {
    border: 2px black;
    border-radius: 0px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    width: 105%;
    padding-top: 20px;
    font-size: 1em;
    width: 200px;
    
    
}
.secondblock li  {
font-size: 20px;
margin: 20px;
}

.firstblock li  {
font-size: 20px;
margin: 20px;
}
.abonnement {
    margin-top: 10px;
    font-size: 1em;
    font-family: sans-serif;
}

.abonnement li {
    font-size: 20px;
}
.icone {
    display: none;
}

   /* Add a black background color to the top navigation bar */
.topnav {
overflow: hidden;
background-color: #e9e9e9;
}
.navbar .menu-hamburger {
    display: flex;
    width: 30px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
   top:23px;

}


/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-style: solid;
border-width: 2px;
border: black 2px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;

}

/* Style the "active" element to highlight the current page */
.topnav a.active {
background-color: #2196F3;
color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
float: left;
padding: 6px;
border: none;
margin-top: 17.5px;
margin-left: 450px;
font-size: 17px;
}
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 60px;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  @media screen and (max-width:1200px) {
    .navbar {
        height: 50px;
        width: 100%;
        border: 1px rgb(115, 115, 115);
        border-style: solid;
        border-width: 1px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}
.bs {
  height: 20px;
  width: 20px;
  display: block;
  margin-left: 20px;

 
}
    .abonnement {
        margin-top: 10px;
        font-size: 1em;
        font-family: sans-serif;
    }
    
    .abonnement li {
        font-size: 20px;
    }
    /* Add a black background color to the top navigation bar */
.topnav {
overflow: hidden;
background-color: #e9e9e9;
}
.navbar .menu-hamburger {
    display: flex;
    width: 30px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
   top:23px;

}


/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-style: solid;
border-width: 2px;
border: black 2px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;

}

/* Style the "active" element to highlight the current page */
.topnav a.active {
background-color: #2196F3;
color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
float: left;
padding: 6px;
border: none;
margin-top: 17.5px;
margin-left: 450px;
font-size: 17px;
}
.micro {
    height: 20px;
    width: 20px;
    margin-top: 23px;
    margin-left: 10px;
}
.caméra {
 display: none;
    height: 20px;
    width: 20px;
    margin-top: 23px;
    margin-left: 80px;
}
.cloche {
    height: 20px;
    width: 20px;
    margin-top: 23px;
    margin-left: 20px;
}

@media screen and (max-width:1100px){
    .navbtn button {
        height: 30px;
        width: 75px;
        background-color: white;
        border: 1px black;
        border-style: solid;
        border-width: 1px;
        border-radius: 25px;
        padding: 2px;
        margin: 30px;
       
      
    }
    .navbtn button .btnl {
        width: 200px;
    }
    .navbtn button:hover {
        background-color: grey;
        color: white;
    }
}
    @media screen and (max-width:1024px) {
        .navbar {
            height: 50px;
            width: 100%;
            border: 1px rgb(115, 115, 115);
            border-style: solid;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
        /* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }

.bs {
  height: 20px;
  width: 20px;
  display: block;
  margin-left: 20px;

 
}

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 17.5px;
    margin-left: 300px;
    font-size: 17px;
  }
  .navbtn button {
    height: 30px;
    width: 75px;
    background-color: white;
    border: 1px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 2px;
    margin-left: 70px;
  
}
.navbtn button .btnl {
    width: 200px;
}
.navbtn button:hover {
    background-color: grey;
    color: white;
}
    }
    
  @media screen and (max-width:600px){
    .navbar {
        height: 60px;
        width: 100%;
        border: 1px black;
        border-style: solid;
        border-width: 1px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        color: white;
    }
.topnav {
    display: none;
}
  

    .test {
        top: 0%;
        left: 0%;
        width: 250px;
    position: absolute;
    flex-direction: column;
    background-color: white;
    backdrop-filter: blur(3.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    margin-left: -120%;
    background-color: black;
    transition: all 0.5s;
    

        
    }
  .bs {
    height: 20px;
    width: 20px;
    display: block;
    margin-left: 20px;
  
   
  }
    .icone {
        display: flex;
        height: 20px;
        width: 23px;
       padding-right: 20px;
       margin-top: 15px;
       
   
 
           
       
    }
    .abonnement {
        align-items: center;
    }
    img .micro {
    margin: 20px;
   }

    .logoytb {
        height: 20px;
        width: 130px;
        display: block;
        margin-top: 30px;
        text-align: center;
        padding-left: 30px;
    }



.logoyoutube {
    display: flex;
    height: 20px;
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
}


.test {
    top: 0%;
    left: 0%;
position: absolute;
background-color: white;
height: 100vh;
width: 200px;
display: flex;
justify-content: space-between;
margin-top: 0px;
margin-left: -180%;
background-color: white;
padding-left: 40px;
padding-top: 10px;
transition: all 0.5s ;
border: 1px black;
border-radius: 2px;
border-width: 2px;
border-color: black;
border-style: solid;
border-top: 0;
border-left: 0;
padding: 20px;


   
}



.navbar .menu-hamburger {
    display: flex;
    width: 30px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
   top:28px;

}
.logoyt {
    display: flex;
    height: 20px;
    width: 100px;
    margin-left: 50px;
}
button input {
    width: 50px;
    border: 1px black;
    margin-right: 10px;
    margin-top: 20px;
    height: 20px;
    padding-right: 50px;

}
.navbtn button {
    height: 30px;
    width: 75px;
    background-color: white;
    border: 1px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 2px;
    margin: 15px;
  
}
.navbtn button .btnl {
    width: 200px;
}
.navbtn button:hover {
    background-color: grey;
    color: white;
}
.secondblock  {
    border: 2px black;
    border-radius: 0px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 105%;
    padding-top: 20px;
    font-size: 1em;
    width: 200px;
    
    
}
.secondblock li  {
    font-size: 20px;
    margin: 20px;
}

.firstblock li  {
    font-size: 20px;
    margin: 20px;
}



}